version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: wikidb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: wiki-backend
    ports:
      - "8080:8080"
    environment:
      - DSN=host=postgres port=5432 user=postgres password=postgres dbname=wikidb sslmode=disable
    depends_on:
      postgres:
        condition: service_healthy
    restart: no
    volumes:
      - ./backend/jawiki-latest-pages-articles.xml:/app/jawiki-latest-pages-articles.xml
      - ./backend/data:/root/data

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: wiki-client 
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pgdata: